<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
                <mimeMap fileExtension=".coffee" mimeType="application/coffeescript" />
                <mimeMap fileExtension=".litcoffee" mimeType="application/coffeescript" />
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
    </system.webServer>
</configuration>
